@charset 'utf-8';

body {
	-webkit-font-smoothing: antialiased;
}
html, body, div, span, p, em, img, canvas, footer, header, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
}
footer, header, nav, section {
	display: block;
}
div, span, section, header, footer, p, a, nav {
	box-sizing: border-box;
}
.t-bold {
  font-weight: 100;
}
.t-normal {
  font-weight: 50;
}
.t-stroke-white {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  letter-spacing: 2px;
}
.t-left {
	text-align: left;
}
.t-right {
	text-align: left;
}
.t-center {
	text-align: center;
}
.s-tit {
	padding: 0.3em 0;
}
@font-face {
	font-family: 'Old London';
	src: url('OldLondon.ttf') format('ttf'),
	     url('Olondona.otf') format('otf'),
  }
.main-copy-wrap {
	font-weight: 100;
	color: #000000;
	font-family: 'Old London', 'Blackout', 'Times New Roman';
}